<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <appender name="GRAYLOG" class="com.github.pukkaone.gelf.logback.GelfAppender">
        <graylogHost>localhost</graylogHost>
        <originHost>localhost</originHost>
        <levelIncluded>true</levelIncluded>
        <locationIncluded>false</locationIncluded>
        <loggerIncluded>true</loggerIncluded>
        <markerIncluded>false</markerIncluded>
        <mdcIncluded>false</mdcIncluded>
        <threadIncluded>false</threadIncluded>
        <facility>gelf-java</facility>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d %level %logger{0}:%line :  %message%n</pattern>
        </encoder>
    </appender>

    <logger name="org.springframework.scheduling.support.TaskUtils$LoggingErrorHandler" level="OFF" />

    <logger name="com.objectpartners.plummer.graylog" level="INFO" additivity="false">
        <appender-ref ref="GRAYLOG" />
        <appender-ref ref="STDOUT" />
    </logger>

</configuration>